.first-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  border-radius: 32px;
  width: 368px;
  height: 512px;
  border-radius: 32px;
}
h3 {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #cac9ff;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
}
.num {
  margin: 0;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}
.num-of {
  margin: 0;
  padding-left: 15px;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #cac9ff;
  mix-blend-mode: normal;
  opacity: 0.52;
}
.great {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.text-result {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #cac9ff;
  width: 260px;
}
